@using KanBanVersion2.Entities
@using KanBanVersion2.WebApp.Models
@model List<Yorum>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
@{
    KanBanKullanici kullanici = CurrentSession.kullanici;

}



@foreach (Yorum yorum in Model)
{

    <div class="modal-body">

        <div class="container col-md-12">
            <div class="row">

                <div class="col-md-2">
                    <span class="fa fa-comment">
                    </span>
                </div>

                <div class="col-md-8">
                    <span class="col-md-9" id="yorum_text_@yorum.Id" contenteditable="false">
                        @yorum.icerik
                    </span>
                </div>
                <div class="col-md-2">

                    <span class="col-md-3 ">
                        <button type="button" class="btn btn-warning btn-xs " data-edit-mode="false" onclick="yorumEdit(this,'edit_click',@yorum.Id,'#yorum_text_@yorum.Id');">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs " onclick="yorumEdit(this,'delete_click',@yorum.Id);">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>

                </div>
                <small class="col-md-11 " style="text-align:right;">
                    <span class="fa fa-clock-o">
                        @yorum.olusturmaTarihi &nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="fa fa-user"> @yorum.kullanici.kullaniciadi </span>
                </small>
            </div>
        </div>
    </div>
    <hr />





}


@if (kullanici != null)
{
    <div class="container col-md-12">
        <div class="row">
            <div class=" input-group">
                <input  type="text" class="form-control col-md-9" id="yeni_yorum_txt" placeholder="Yorum yap.." />
                <span class="input-group-btn col-md-3">
                    <button class="btn btn-success " type="button" onclick="yorumEdit(this,'new_click',-1);">
                        <span class="fa fa-send"></span>Yorum Yap

                    </button>
                </span>
            </div>
        </div>
    </div>

}
