
@{
    Layout = null;
    ViewBag.Title = "Yetkisiz Erişim";
}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @{ 
                Exception ex = null;
                if(TempData["LastError"] != null)
                {
                    ex = TempData["LastError"] as Exception;
                }

            }

            <h1> <span class="fa fa-remove"></span> Hata oluştu.</h1>
            <p>
                Lütfen site yöneticisi ile iletişime geçiniz. <br /><br /><br />

                @if (ex != null)
                {
                    <strong> Hata Detay:</strong>
                    @ex.Message
                    <br /><br /><br />
                }
                
                @Bootstrap.LinkButton("/Home/Todo", "default", "", "", "home", "Ana Satfaya Git")

                @Bootstrap.LinkButton("mailto:kanbanistakip@gmail.com","primary","","","envelope","E-posta Gönder")
                
            </p>
        </div>
    </div>
