
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;">TO-DO LİSTESİ</h2>
<hr />
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card " style="max-width: 25vw; margin-left:20px;border-radius:10px">
            <div class="card-header text-white bg-info ">
                <h4 style="text-align:center;">Todo header</h4>
                <!-- BUTTON BURADA-->

                <style>
                    .buttonrenk {
                        color: white;
                        background-color: #17A2B8;
                    }
                </style>
            </div>
            <div class="card-body">
                <p> Todo nun içeriği burada</p>


            </div>
            <div class="card-footer">
                <div class="text-muted">
                    <span class="fa fa-users">  Emre Altun, Kadir Baseren </span><br />
                    <span class="fa fa-clock-o"> 18.07.18</span>

                </div>
                <div style="float:right;" class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button  class="btn buttonrenk" data-toggle="modal" data-target="#modal_comment">Düzenle</button>

                    <div class="btn-group" style="color:##17A2B8;" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn buttonrenk  dropdown-toggle" data-toggle="dropdown">
                            Gönder
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">TODO DURUMLARINI SIRALA</a>

                        </div>
                    </div>
                </div>
     

            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card " style="max-width: 25vw; margin-left:20px;border-radius:10px">
            <div class="card-header text-white bg-info ">
                <h4 style="text-align:center;">Todo header</h4>
                <!-- BUTTON BURADA-->

                <style>
                    .buttonrenk {
                        color: white;
                        background-color: #17A2B8;
                    }
                </style>
            </div>
            <div class="card-body">
                <p> Todo nun içeriği burada</p>


            </div>
            <div class="card-footer">
                <div class="text-muted">
                    <span class="fa fa-users">  Emre Altun, Kadir Baseren </span><br />
                    <span class="fa fa-clock-o"> 18.07.18</span>

                </div>
                <div style="float:right;" class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn buttonrenk ">Düzenle</button>

                    <div class="btn-group" style="color:##17A2B8;" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn buttonrenk  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gönder
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="#">TODO DURUMLARINI SIRALA</a>

                        </div>
                    </div>
                </div>
      

            </div>
        </div>

    </div>
</div>
    

@Bootstrap.ModalPopup(id:"modal_comment",title:"yorumlar")

<script>
    $(function () {
        $('#myModal').on('show.bs.modal', function (e) {
            console.log('test');
        })
    });
</script>